<div class="section bg-schooner pre-footer">

	<div class="row">

		<div class="column medium-4">
			<div class="bg-ash fz-small pre-footer__address" itemscope="" itemtype="http://schema.org/LocalBusiness">

				<h4 itemprop="name" class="h4 ttu c-schooner spacing-zero">Setgraphic Webdesign Frankfurt</h4>
				<hr class="hr-schooner">

				<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
					<address class="spacing-zero c-schooner">
						<em class="ttu" itemprop="streetAddress">Heiligkreuzgasse 9a</em>
						<em class="ttu" itemprop="postalCode">60313</em>
						<em class="ttu" itemprop="addressLocality">Frankfurt am Main</em>
						<em class="ttu" itemprop="addressRegion">Hessen</em>
						<em class="ttu" itemprop="addressCountry">Deutschland</em>
						<div class="pre-footer__com">
							<a class="tdn c-schooner tel" href="tel:+496948005120">
								<svg width="14" height="14"><use xlink:href="#icon-mobile"></svg>
								<span class="tel" itemprop="telephone" aria-hidden="false">+49 (0)69 4800 5120</span>
							</a>
							<a class="tdn c-schooner email" itemprop="email" href="mailto:hello@setgraphic.com?subject=SETGRAPHIC%20Consulting">
								<svg width="14" height="14"><use xlink:href="#icon-sendmail"></svg>
								<span aria-hidden="false">hello[@]setgraphic.com</span>
							</a>
						</div>
						<hr class="hr-schooner">
						<div class="pre-footer__social">
							<a class="tdn c-schooner" href="https://twitter.com/setgraphic">
								<svg width="14" height="14"><use xlink:href="#icon-twitter"></svg>
								<span>Twitter</span>
							</a>
							<a class="tdn c-schooner" href="https://www.facebook.com/setgraphic">
								<svg width="14" height="14"><use xlink:href="#icon-facebook"></svg>
								<span>facebook</span>
							</a>
							<a class="tdn c-schooner" href="https://plus.google.com/+Setgraphic-Design/posts">
								<svg width="14" height="14"><use xlink:href="#icon-google"></svg>
								<span>Google+</span>
							</a>
						</div>

					</address>
				</div>
			</div>
		</div>

		<div class="column medium-8">
			<div class="row">
				<div class="column medium-4">
					<h4 class="spacing-zero ttu fz-medium c-ash">Kreativ</h4>
					<hr class="hr-ash">
					<div class="fz-small ">
						<p class="spacing-zero c-ash">Konzept Entwicklung</p>
						<p class="spacing-zero c-ash">Brand Entwicklung</p>
						<p class="spacing-zero c-ash">Graphik Design</p>
						<p class="spacing-zero c-ash">Copywriting</p>
						<p class="spacing-zero c-ash">Art Direction</p>
						<p class="spacing-zero c-ash">Logo Design</p>
						<p class="spacing-zero c-ash">Illustrationen</p>
					</div>
				</div>

				<div class="column medium-4">
					<h4 class="spacing-zero ttu fz-medium c-ash">Digital</h4>
					<hr class="hr-ash">
					<div class="fz-small">
						<p class="spacing-zero c-ash">Webseiten</p>
						<p class="spacing-zero c-ash">PSD zu HTML</p>
						<p class="spacing-zero c-ash">HTML5</p>
						<p class="spacing-zero c-ash">CSS3, Saas<span class="amp"> &amp; </span> SCSS</p>
						<p class="spacing-zero c-ash">jQuery <span class="amp"> &amp; </span> JavaScript</p>
						<p class="spacing-zero c-ash">WordPress <span class="amp"> &amp; </span> PHP</p>
						<p class="spacing-zero c-ash">Mobile Apps</p>
					</div>
				</div>

				<div class="column medium-4">
					<h4 class="spacing-zero ttu fz-medium c-ash">Strategie</h4>
					<hr class="hr-ash">
					<div class="fz-small">
						<p class="spacing-zero c-ash">Projekt Planung</p>
						<p class="spacing-zero c-ash">User Interface (UI) Design</p>
						<p class="spacing-zero c-ash">User Experience (UX) Design</p>
						<p class="spacing-zero c-ash">Wireframing</p>
						<p class="spacing-zero c-ash">Search Engine Optimisation (SEO)</p>
						<p class="spacing-zero c-ash">Content Generierung</p>
						<p class="spacing-zero c-ash">Website Management</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="footer">
	<div class="footer__legal c-white">
		<a href="#" class="c-white tdn" title="title"><svg width="16" height="16"><use xlink:href="#icon-info"></svg>Impressum</a>
	</div>
	<div class="footer__copy c-white">
		<svg width="16" height="16"><use xlink:href="#icon-copyright"></svg>
		<span>{{ "now" | date: "%Y" }} {{ site.brand}}</span>
	</div>

	<div class="footer__social">
		<a class="footer__links c-white" href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><svg width="16" height="16"><use xlink:href="#icon-twitter"></svg></a>
		<a class="footer__links c-white" href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><svg width="16" height="16"><use xlink:href="#icon-linkedIn"></svg></a>
		<a class="footer__links c-white" href="http://github.com/{{ site.github_username }}" target="_blank"><svg width="16" height="16"><use xlink:href="#icon-github"></svg></a>
	</div>

</div>
