<div class="row">

	<div class="column">
		<footer class="footer">
			<div class="footer__copy">&copy; {{ "now" | date: "%Y" }} {{ site.brand}}</div>

			<div class="footer__social">
				<a class="footer__links"href="http://twitter.com/{{ site.twitter_username }}" target="_blank">twitter</a>
				<a class="footer__links"href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">linkedin</a>
				<a class="footer__links"href="http://github.com/{{ site.github_username }}" target="_blank">github</a>
			</div>

		</footer>
	</div>
</div>
