<div class="row">
	<div class="column medium-3">
		<div itemscope="" itemtype="http://schema.org/LocalBusiness">
			<div itemprop="name">
				<h2 class="h4">Setgraphic Webdesign Agentur Frankfurt</h2>
			</div>
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<address class="uls adr">
					<span itemprop="streetAddress">Heiligkreuzgasse 9a</span><br>
					<span itemprop="postalCode" class="postal-code">60313</span>&nbsp;<span class="locality" itemprop="addressLocality">Frankfurt am Main</span><br>
					<span class="region" itemprop="addressRegion">Hessen</span>&nbsp;<span class="country-name" itemprop="addressCountry">Deutschland</span><br>
					<ul class="phoneMail">
						<li><a class="tel" href="tel:+496948005120"><i class="icon-mobile-phone"></i><span class="tel" itemprop="telephone" aria-hidden="false">+49 (0)69 4800 5120</span></a></li>
						<li><a class="email" itemprop="email" href="mailto:hello@setgraphic.com?subject=SETGRAPHIC%20Consulting"><i class="icon-envelope"></i><span aria-hidden="false">hello@setgraphic.com</span></a></li>
					</ul>
					<div class="socialFooter">
						<ul>
							<li><a href="https://twitter.com/setgraphic"><i class="icon-twitter"></i><span>Twitter</span></a></li>
							<li><a href="https://www.facebook.com/setgraphic"><i class="icon-facebook"></i><span>facebook</span></a></li>
							<li><a href="https://plus.google.com/+Setgraphic-Design/posts"><i class="icon-google-plus"></i><span>Google+</span></a></li>
						</ul>
					</div>
				</address>
			</div>
		</div>
	</div>

	<div class="column medium-3">
		<div>
			<h4 class="">Kreativ</h4>
		</div>
		<ul>
			<li>Konzept Entwicklung</li>
			<li>Brand Entwicklung</li>
			<li>Graphik Design</li>
			<li>Copywriting</li>
			<li>Art Direction</li>
			<li>Logo Design</li>
			<li>Illustrationen</li>
		</ul>
	</div>
	<div class="column medium-3">

		<div>
			<h4 class="">Digital</h4>
		</div>
		<ul>
			<li>Webseiten</li>
			<li>PSD zu HTML</li>
			<li>HTML5</li>
			<li>CSS3, Sass<span class="amp"> &amp; </span> LESS</li>
			<li>jQuery <span class="amp"> &amp; </span> JavaScript</li>
			<li>WordPress <span class="amp"> &amp; </span> PHP</li>
			<li>Mobile Apps</li>
		</ul>

	</div>
	<div class="column medium-3">

		<div>
			<h4 class="">Strategie</h4>
		</div>
		<ul>
			<li>Projekt Planung</li>
			<li>User Interface (UI) Design</li>
			<li>User Experience (UX) Design</li>
			<li>Wireframing</li>
			<li>Search Engine Optimisation (SEO)</li>
			<li>Content Generierung</li>
			<li>Website Management</li>
		</ul>
	</div>

</div>


<div class="row">
	<div class="column">
		<footer class="footer">
			<div class="footer__copy c-white">&copy; {{ "now" | date: "%Y" }} {{ site.brand}}</div>

			<div class="footer__social">
				<a class="footer__links c-white"href="http://twitter.com/{{ site.twitter_username }}" target="_blank">twitter</a>
				<a class="footer__links c-white"href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">linkedin</a>
				<a class="footer__links c-white"href="http://github.com/{{ site.github_username }}" target="_blank">github</a>
			</div>

		</footer>
	</div>
</div>
