<div class="row">
    <div class="column">
        <header class="header">

            <a class="brand" href="/">{{ site.brand}}</a>

            <nav class="nav">
                <a class="nav__item" href="{{ site.baseurl }}/">Home</a>
                {% for my_page in site.pages %}
                {% if my_page.title and my_page.nav %}
                <a class="nav__item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                {% endif %}
                {% endfor %}

            </nav>

        </div>
    </div>
</header>
