/*
1 - Avoid the IE 10-11 `min-height` bug, Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
2 - See section.scss
*/
body {
	display: flex;
	min-height: 100%; // 1
	flex-direction: column;
	background: white;
	font: $fontStack;
	letter-spacing: .0625em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	@media (max-width: $bpS) {
		font-size: 14px;
	}

}
