body {

	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
	background: white;
	font: $fontStack;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	@media (max-width: $bpS) {
		font-size: 14px;
	}

}
