.brand {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: color('white');
	font-family: $headerFamily;
	height: 60%;
	svg {
		height: 1.3em;
		padding-right: $gutter/2;
	}
}
