.hero {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient(-45deg, color('paleGold'), color('mellowYellow')); /* Standard syntax */
	padding-top: $headerHeight;
	&__clame {
		padding: $gutter/2;
	}
	&__logo {
		width: 25%;
	}
}
