.member {

	&__header {
		display: flex;
	}
	&__avatar {
		position: relative;
		z-index: 1;
		text-align: center;
		transform: translateY(-50%);
		margin-bottom: -4rem;
	}
	&__card {
		padding: $gutter/2;
		background-color: red;
		transform: translateY(-16%);
	}
	&__name {
		padding-top: 3rem;

	}
}
