/*
1 - see body.scss
2 - Set `flex-shrink` to `0` to prevent some browsers from
letting these items shrink to smaller than their content's default
minimum size. See http://bit.ly/1Mn35US for details.
*/

.section {

	&__header {
		background-color: color('light');
		flex: none; // 2
	}
	&__main {
		flex: 1 0 auto; // 2
	}
	&__footer {
		background-color: color('light');
		flex: none; // 2
	}
}
