// Colors ------------------------------------------------------ //
$colors: (
	'white'  : #fff,
	'black'  : #000,
	'light'  : #fafafa,
	'dark'   : #222,
	'text'   : #222
);

// Sizes ------------------------------------------------------- //
$gutter   : 1.8rem;
$maxWidth : 60em;

// Breakpoints ------------------------------------------------- //
$bpXXS : 480px;
$bpXS  : 640px;
$bpS   : 960px;
$bpM   : 1024px;
$bpL   : 1280px;
$bpXL  : 1366px;
$bpXXL : 1920px;

// Animations -------------------------------------------------- //
$duration : .3s;
$timing   : cubic-bezier(.51, .92, .24, 1);

// Typography -------------------------------------------------- //
$fontFamily: "Open Sans", Helvetica, Arial, sans-serif;
$headerFamily: Montserrat, sans-serif;

// Font -------------------------------------------------------- //
$fontStack: normal 400 1.2em/2 $fontFamily;
