// Colors ------------------------------------------------------ //
$colors: (
	'white'        : #fff,
	'black'        : #000,
	'light'        : #f6f4e4,
	'dark'         : #222,
	'mellowYellow' : #f6E27f,
	'paleGold'     : #e2c391,
	'text'         : #222,
	'schooner'     : #8e867d,
	'parchment'    : #f3e9d1,
	'riverBed'     : #404f5a
);

// Sizes ------------------------------------------------------- //
$gutter   : 1.8rem;
$maxWidth : 60em;
$headerHeight : $gutter*2;

// Breakpoints ------------------------------------------------- //
$bpXXS : 480px;
$bpXS  : 640px;
$bpS   : 960px;
$bpM   : 1024px;
$bpL   : 1280px;
$bpXL  : 1366px;
$bpXXL : 1920px;

// Animations -------------------------------------------------- //
$duration : .3s;
$timing   : cubic-bezier(.51, .92, .24, 1);

// Typography -------------------------------------------------- //
$fontFamily: "Open Sans", Helvetica, Arial, sans-serif;
$headerFamily: Montserrat, sans-serif;

// Font -------------------------------------------------------- //
$fontStack: normal 400 1.2em/2 $fontFamily;
