{% include _layout/start.html %}
<body>

	<header class="section">
		<h6 class="hide">{{ page.title }}</h6>
		<section>
			<h2 class="hide">{{ page.title }}</h2>
			{% include header.html %}
		</section>
	</header>


	<main class="section section__main">
		<article>
			<h1 class="hide">{{ page.title }}</h1>
			{{ content }}
		</article>

	</main>


	<footer class="section bg-dark">
		<section>
			<h3 class="hide">{{ page.title }}</h3>
			{% include footer.html %}
		</section>

	</footer>

	{% include _layout/end.html %}
