{% include _layout/start.html %}
<body>

	<header class="section section__header bg-dark">
		<h6 class="hide">{% t headlines.page %}</h6>
		<section>
			<h2 class="hide">{% t headlines.header %}</h2>
			{% include header.html %}
		</section>
	</header>


	<main class="section section__main">
		<article>
			<h1 class="hide">{% t page.title %}</h1>
			{{ content }}
		</article>

	</main>


	<footer class="section bg-dark">
		<section>
			<h3 class="hide">{% t headlines.footer %}</h3>
			{% include footer.html %}
		</section>

	</footer>

	{% include _layout/end.html %}
