---
layout: default
---
<div class="row">
	<div class="column medium-6">
		<article class="post post--single" itemscope itemtype="http://schema.org/BlogPosting">
			<header class="post__header">
				<h2 class="post__title" itemprop="name headline">{% t page.title %}</h2>
				<p class="post__meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
			</header>

			<div class="post__content" itemprop="articleBody">
				{{ content }}
				<a href="{{page.project-link-preview}}" class="btn btn--dark" title="{{ page.title }} ansehen">Project Ansehen</a>
			</div>
		</article>

	</div>
	<div class="column medium-6">

	</div>
</div>
