---
layout: default
---

<div class="row">
	<div class="column">
		<article class="post post--single" itemscope itemtype="http://schema.org/BlogPosting">
			<header class="post__header">
				<h2 class="post__title" itemprop="name headline">{{ page.title }}</h2>
				<p class="post__meta">
					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
					{% if page.tags.first %}
					<span class="post__tags c-text">
						<svg class="c-juniper" width="14" height="14"><use xlink:href="#icon-tag"></svg>
							{% for tag in page.tags %}
							<a class="c-juniper" href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>
							{% endfor %}
					</span>
					{% endif %}
				</p>
			</header>

			<div class="post__content" itemprop="articleBody">
				{{ content }}
			</div>
		</article>
	</div>
</div>
